/*BASE STYLES*/
.no-break {
  page-break-inside: avoid;
  page-break-after: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr th, tr td {
  white-space: nowrap;
}

tr.all-center td {
  text-align: center;
}

tr.all-center th {
  text-align: center;
}

.black {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-top {
  vertical-align: top;
}

.text-red {
  color: red;
}

.no-border {
  border: none !important;
}

.border-left-white {
  border-left: 1px solid #fff;
}

.border-bottom-white {
  border-bottom: 1px solid #fff;
}

.border-bottom-black {
  border-bottom: 1px solid #000;
}

.border-right-black {
  border-right: 1px solid #000;
}

.border-black {
  border: 1px solid #000;
}

/*OPENING REPORT*/
.opening table {
  border: 1px solid #000;
}
.opening table tr td {
  padding: 0.5rem;
  border: 1px solid #000;
}
.opening table tr td:first-child {
  width: 100px;
}
.opening table:not(:last-of-type) {
  margin-bottom: 1rem;
}
.opening table:not(:first-of-type) {
  border: 1px solid #000;
}
.opening table:nth-of-type(1) {
  border: 1px solid #000;
}
.opening table:nth-of-type(1) tr td {
  border: none;
}

/*FRAME-CUT REPORT*/
.frame-cut-sheet table thead tr th {
  padding: 5px 0.5rem;
  background-color: #e2e3e5;
  border-bottom: 1px solid #000;
}
.frame-cut-sheet table tr td {
  padding: 0.5rem;
}
.frame-cut-sheet table tr.cell-reduced td {
  padding: 2px;
}
.frame-cut-sheet table:not(:last-of-type) {
  margin-bottom: 1rem;
}
.frame-cut-sheet table:not(:first-of-type) {
  border: 1px solid #000;
}
.frame-cut-sheet table:nth-of-type(1) {
  border-top: 1px solid #000;
}
.frame-cut-sheet table:nth-of-type(1) tr td:first-child {
  width: 60px;
}
.frame-cut-sheet table:nth-of-type(1) tr td:nth-child(3) {
  width: 120px;
}
.frame-cut-sheet table:nth-of-type(1) tr td:nth-child(5) {
  width: 140px;
}
.frame-cut-sheet table:nth-of-type(1) tr td:last-child {
  width: 100px;
}

/*LOUVER-CUT REPORT*/
.louver-cut-sheet table thead {
  border-bottom: 1px solid #000;
}
.louver-cut-sheet table thead tr th {
  padding: 5px 0.5rem;
}
.louver-cut-sheet table tr td {
  padding: 0.5rem;
}
.louver-cut-sheet table tr.cell-reduced td {
  padding: 2px;
}
.louver-cut-sheet table:nth-of-type(1) {
  border-top: 1px solid #000;
}
.louver-cut-sheet table:nth-of-type(1) tr td:first-child {
  width: 60px;
}
.louver-cut-sheet table:nth-of-type(1) tr td:nth-child(3) {
  width: 120px;
}
.louver-cut-sheet table:nth-of-type(1) tr td:nth-child(5) {
  width: 140px;
}
.louver-cut-sheet table:nth-of-type(1) tr td:last-child {
  width: 100px;
}
.louver-cut-sheet table:nth-of-type(2) tr td:first-child {
  width: 30px;
}

/*RAIL-CUT REPORT*/
.rail-cut-sheet table thead tr th {
  padding: 5px 0.5rem;
  border-bottom: 1px solid #000;
}
.rail-cut-sheet table tr td {
  padding: 0.5rem;
}
.rail-cut-sheet table tr.cell-reduced td {
  padding: 2px;
}
.rail-cut-sheet table:nth-of-type(1) {
  border-top: 1px solid #000;
}
.rail-cut-sheet table:nth-of-type(1) tr td:first-child {
  width: 60px;
}
.rail-cut-sheet table:nth-of-type(1) tr td:nth-child(3) {
  width: 110px;
}
.rail-cut-sheet table:nth-of-type(1) tr td:nth-child(5) {
  width: 140px;
}
.rail-cut-sheet table:nth-of-type(1) tr td:last-child {
  width: 100px;
}

/*STILE-CUT REPORT*/
.stile-cut-sheet table thead {
  border-bottom: 1px solid #000;
}
.stile-cut-sheet table thead tr th {
  padding: 5px 0.5rem;
}
.stile-cut-sheet table tr td {
  padding: 0.5rem;
}
.stile-cut-sheet table tr.cell-reduced td {
  padding: 2px;
}
.stile-cut-sheet table:nth-of-type(1) {
  border-top: 1px solid #000;
}
.stile-cut-sheet table:nth-of-type(1) tr td:first-child {
  width: 70px;
}
.stile-cut-sheet table:nth-of-type(1) tr td:nth-child(3) {
  width: 130px;
}
.stile-cut-sheet table:nth-of-type(1) tr td:nth-child(5) {
  width: 150px;
}
.stile-cut-sheet table:nth-of-type(1) tr td:last-child {
  width: 100px;
}

/*TRAVEL LOG REPORT*/
.travel-log table.first {
  border: 1px solid #000;
}
.travel-log table.first tr td {
  padding: 5px;
}
.travel-log table.first tr.cell-reduced td {
  padding: 2px;
}
.travel-log table.first tr td:first-child {
  width: 110px;
}
.travel-log table.first tr td:nth-child(3) {
  width: 140px;
}
.travel-log table.first tr td:last-child {
  width: 100px;
}

.travel-log .specialContainer {
  margin: 0.5rem 0;
}
.travel-log .specialContainer table {
  border: 1px solid #000;
  border-collapse: separate;
  border-spacing: 0.6rem;
}
.travel-log .specialContainer tr td {
  padding: 0;
}
.travel-log .specialContainer tr td h3 {
  margin: 0;
}
.travel-log .specialContainer table:first-child {
  width: 45%;
  float: left;
}
.travel-log .specialContainer table:first-child tr td:first-child {
  width: 170px;
}
.travel-log .specialContainer table:last-child {
  width: 50%;
  float: right;
}
.travel-log .specialContainer table:last-child tr td:first-child {
  width: 200px;
}

.travel-log table.second tr td {
  padding: 5px;
}
.travel-log table.second tr td .square {
  width: 120px;
  margin: auto;
  height: 70px;
}
.travel-log table.second tr td .square p {
  vertical-align: center;
  text-align: center;
  margin: 0;
}
.travel-log table.second tr td .border {
  width: 100px;
  margin: auto;
  height: 40px;
}
.travel-log table.second tr td h3 {
  margin: 0;
}

.travel-log table.instructions {
  border: 1px solid #000;
  height: 7rem;
}
.travel-log table.instructions tr:first-of-type td {
  height: 1rem;
}
.travel-log table.instructions tr:last-of-type td {
  vertical-align: top;
}

/*BUILD DEPT-W REPORT*/
.build-dept table tr td {
  padding: 0.5rem;
}
.build-dept table tr td:first-child {
  width: 70px;
}
.build-dept table tr .separator {
  width: 2rem;
}

/*PAINT DEPT REPORT*/
.paint-dept table tr td {
  padding: 0.5rem;
}
.paint-dept table tr td:first-child {
  width: 70px;
}
.paint-dept table tr .separator {
  width: 2rem;
}

/*ORDER PT1 REPORT*/
.order-pt1 table tr td {
  padding: 0.5rem;
}
.order-pt1 table:nth-of-type(1) tr td:nth-of-type(odd) {
  width: 110px;
}
.order-pt1 table:nth-of-type(1) tr td:last-of-type {
  width: 100px;
}
.order-pt1 table:nth-of-type(2) {
  border: 1px solid #000;
}
.order-pt1 table:nth-of-type(3) tr td {
  width: 60px;
}
.order-pt1 table:nth-of-type(4) tr td .image {
  width: 100%;
}
.order-pt1 table:nth-of-type(4) tr td .image img {
  display: block;
  height: 250px;
  width: auto;
  margin: 0 auto;
}

.order-pt1 .mixedTable {
  width: 100%;
  border-top: 1px solid #000;
}
.order-pt1 .mixedTable .image {
  float: left;
  width: 300px;
  margin: 0;
  padding: 0;
}
.order-pt1 .mixedTable .image img {
  display: block;
  width: 100%;
  height: auto;
}
.order-pt1 .mixedTable .info {
  float: right;
  width: calc(100% - 300px) !important;
  border: none;
}
.order-pt1 .mixedTable .info th {
  padding-top: 5px;
}

/*ORDER PT2 REPORT*/
.order-pt2 table tr td {
  padding: 0.5rem;
}
.order-pt2 table:nth-of-type(1) tr td:first-child {
  width: 150px;
}
.order-pt2 table:not(:last-of-type) {
  margin-bottom: 1rem;
}
.order-pt2 table:nth-of-type(3) tr td:nth-of-type(odd) {
  width: 60px;
  padding: 0.5rem 0 0 0.5rem;
}/*# sourceMappingURL=styles.css.map */