/*BASE STYLES*/
.no-break
  page-break-inside: avoid
  page-break-after: auto
table
  width: 100%
  border-collapse: collapse
tr th, tr td 
  white-space: nowrap
tr.all-center td
  text-align: center
tr.all-center th
  text-align: center
.black
  font-weight: 700
.text-left
  text-align: left
.text-center
  text-align: center
.text-end
  text-align: right
.text-top
  vertical-align: top
.text-red
  color: red
.no-border
  border: none!important
.border-left-white
  border-left: 1px solid #fff
.border-bottom-white
  border-bottom: 1px solid #fff
.border-bottom-black
  border-bottom: 1px solid #000
.border-right-black
  border-right: 1px solid #000
.border-black
  border: 1px solid #000

/*OPENING REPORT*/
.opening table
  border: 1px solid #000
  tr td
    padding: .5rem
    border: 1px solid #000
    &:first-child
      width: 100px
  &:not(:last-of-type)
    margin-bottom: 1rem
  &:not(:first-of-type)
    border: 1px solid #000
  &:nth-of-type(1)
    border: 1px solid #000
    tr td
      border: none

/*FRAME-CUT REPORT*/
.frame-cut-sheet table
  thead tr th
    padding: 5px .5rem
    background-color: #e2e3e5
    border-bottom: 1px solid #000
  tr td
    padding: .5rem
  tr.cell-reduced td
    padding: 2px
  &:not(:last-of-type)
    margin-bottom: 1rem
  &:not(:first-of-type)
    border: 1px solid #000
  &:nth-of-type(1)
    border-top: 1px solid #000
    tr td:first-child
      width: 60px
    tr td:nth-child(3)
      width: 120px
    tr td:nth-child(5)
      width: 140px
    tr td:last-child
      width: 100px

/*LOUVER-CUT REPORT*/
.louver-cut-sheet table
  thead
    border-bottom: 1px solid #000
    // border-top: 1px solid #000
  thead tr th
    padding: 5px .5rem
  tr td
    padding: .5rem
  tr.cell-reduced td
    padding: 2px
  &:nth-of-type(1)
    border-top: 1px solid #000
    tr td:first-child
      width: 60px
    tr td:nth-child(3)
      width: 120px
    tr td:nth-child(5)
      width: 140px
    tr td:last-child
      width: 100px
  &:nth-of-type(2)
    tr td:first-child
      width: 30px

/*RAIL-CUT REPORT*/
.rail-cut-sheet table
  thead tr th
    padding: 5px .5rem
    border-bottom: 1px solid #000
  tr td
    padding: .5rem
  tr.cell-reduced td
    padding: 2px
  &:nth-of-type(1)
    border-top: 1px solid #000
    tr td:first-child
      width: 60px
    tr td:nth-child(3)
      width: 110px
    tr td:nth-child(5)
      width: 140px
    tr td:last-child
      width: 100px

/*STILE-CUT REPORT*/
.stile-cut-sheet table
  thead
    border-bottom: 1px solid #000
  thead tr th
    padding: 5px .5rem
    // border-bottom: 1px solid #000
  tr td
    padding: .5rem
  tr.cell-reduced td
    padding: 2px
  &:nth-of-type(1)
    border-top: 1px solid #000
    tr td:first-child
      width: 70px
    tr td:nth-child(3)
      width: 130px
    tr td:nth-child(5)
      width: 150px
    tr td:last-child
      width: 100px
  // &:nth-of-type(2)
  //   tr td:first-child
  //     width: 80px

/*TRAVEL LOG REPORT*/
.travel-log
  table.first
    border: 1px solid #000
    tr td
      padding: 5px
    tr.cell-reduced td
      padding: 2px
    tr td:first-child
      width: 110px
    tr td:nth-child(3)
      width: 140px
    tr td:last-child
      width: 100px
.travel-log .specialContainer
  margin: .5rem 0
  table
    border: 1px solid #000
    border-collapse: separate
    border-spacing: .6rem 
  tr td
    padding: 0
  tr td h3
    margin: 0
  table:first-child
    width: 45%
    float: left
    tr td:first-child
      width: 170px
  table:last-child
    width: 50%
    float: right
    tr td:first-child
      width: 200px

.travel-log table.second
  tr td
    padding: 5px
    .square
      width: 120px
      margin: auto
      height: 70px
      p 
        vertical-align: center
        text-align: center
        margin: 0
    .border
      width: 100px
      margin: auto
      height: 40px
  tr td h3
    margin: 0

.travel-log table.instructions
  border: 1px solid #000
  height: 7rem
  tr:first-of-type td
    height: 1rem
  tr:last-of-type td
    vertical-align: top
  
/*BUILD DEPT-W REPORT*/
.build-dept table
  tr td
    padding: .5rem
    &:first-child
      width: 70px
  tr .separator
    width: 2rem

/*PAINT DEPT REPORT*/
.paint-dept table
  tr td
    padding: .5rem
    &:first-child
      width: 70px
  tr .separator
    width: 2rem


/*ORDER PT1 REPORT*/
.order-pt1 table
  tr td
    padding: .5rem
  &:nth-of-type(1)
    tr td
      &:nth-of-type(odd)
        width: 110px
      &:last-of-type
        width: 100px
  &:nth-of-type(2)
    border: 1px solid #000
  &:nth-of-type(3)
    tr td
      width: 60px
  &:nth-of-type(4)
    tr td .image
      width: 100%
      img
        display: block
        height: 250px
        width: auto
        margin: 0 auto
.order-pt1 .mixedTable
  width: 100%
  border-top: 1px solid #000
  .image
    float: left
    width: 300px
    margin: 0
    padding: 0
    img
      display: block
      width: 100%
      height: auto
  .info 
    float: right
    width: calc( 100% -  300px)!important
    border: none
    th
      padding-top: 5px


/*ORDER PT2 REPORT*/
.order-pt2 table
  tr td
    padding: .5rem
  &:nth-of-type(1)
    tr td:first-child
      width: 150px
  &:not(:last-of-type)
    margin-bottom: 1rem
  &:nth-of-type(3)
    tr td:nth-of-type(odd)
      width: 60px
      padding: .5rem 0 0 .5rem